# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# IDE
# =========================
.idea/
.vscode/


# =========================
# Python environment
# =========================
venv/
.venv/
env/


# =========================
# Experiment results
# =========================
results/


# =========================
# Temporary files
# =========================
*.log
*.tmp


# =========================
# System
# =========================
.DS_Store
Thumbs.db